.app.dark {
  --bg-color: #06065e;
  --inverted-bg-color: #d5d5db;
  --primary-color: #06a406;
  --secondary-color: #0f0;
  --inverted-primary-color: #0606c9;
  --inverted-secondary-color: #014dff;
}
