.app.light {
    --bg-color: #d5d5db;
    --inverted-bg-color: #090949;

    --primary-color: #0606c9;
    --secondary-color: #034af0;
    --inverted-primary-color: #06a406;
    --inverted-secondary-color: #00ff00;
};